@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}
body {
  background-color: #fffbe7 !important;
}
.btn-primary {
  background-color: #1f62a1 !important;
}
.pokedex-card{
  width: 100% !important;
  max-height: 180px !important; 
  border-radius: 10px !important;
  cursor: pointer;
  border: 2px solid #1f62a1 !important;
}
ul {
  padding: 0 !important;
  justify-content: center !important;
  text-align: justify;
  text-justify: inter-word;
}
.type{
  display: inline !important;
  border: black 1px solid;
  border-radius: 50px;
  padding: 2px 10px;
  margin: 0 5px;
  font-size: 10px;
}
.details-content{
  font-size: 12px;
}
.details-content p{
  margin-bottom: 3px !important;
}
.fs{
  font-size: 10px;
  color: #666666;
}
.center-border{
  border-left: solid 1px #E0E0E0;
  border-right: solid 1px #E0E0E0;
  padding: 0 !important;
}
.moves{
  display: inline-table;
  font-size: 12px;
  padding: 2px;
}
.card-header{
  border-bottom: none !important;
  background-color: #ffff !important;
}
.modal-header{
  border-bottom: none !important;
}
.modal-footer{
  border-top: none !important;
}
.alert{
  z-index: 1 !important;
  position: absolute !important;
  top: 50% !important;
  left: 30% !important;
  font-size: 10px;
}
#web-title{
  font-weight: 600 !important;
  color: #1f62a1 !important;
}
